<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Frankenstein 5E</title>
        
        <script src="/js/app.js" defer></script>
        <link rel="stylesheet" type="text/css" href="/css/app.css">
        <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    </head>
    <body>

        <div id="page-container">
            <header>
                <div id="logo">
                    <img src="/images/f5logo.png">
                </div>
                <div id="header-desc">
                    <span>Create monsters!</span>
                    <span>Balance encounters!</span>
                    <span><s>Kill PCs!</s></span>
                    <span>Have fun! </span>
                </div>
            </header>
            <div id="f5">

                <!-- Nav -->
                <nav>
                    <div class="nav-option nav-statblocks" :class="{'active': editor.activeSection == 'statblock-display'}" @click="editor.activeSection = 'statblock-display'">
                        <div>Statblocks</div>
                    </div>
                    <div class="nav-option nav-encounter" :class="{'active': editor.activeSection == 'encounter-display'}" @click="changeActiveDisplay('encounter-display')">
                        <div>Encounter Analysis</div>
                    </div>
                    <!-- <a href="https://www.paypal.me/dmcdoogs" target="_blank" rel="nofollow noopener">
                        <div class="nav-option nav-encounter">
                            <div>Support the Project</div>
                        </div>
                    </a> -->
                </nav>

                <div class="subnav" v-if="editor.activeSection == 'statblock-display'">
                    <div class="nav-option">
                        <div>
                            Create New Statblock <span>▼</span>
                        </div>
                        <div class="nav-dropdown">
                            <div class="nav-dropdown-option" @click="createStatBlock()" >From Scratch</div>
                            <div class="nav-dropdown-option" @click="initStatBlockWizard()">Using Wizard</div>
                        </div>
                    </div>
                    <div class="nav-option">
                        <div>
                            {{f5.misc.title_monster_template}} <span>▼</span>
                        </div>
                        <div class="nav-dropdown">
                            <div class="nav-dropdown-option" v-for="(monster, i) in sampleMonsters" :value="i" @click="importMonster(sampleMonsters[i])">{{monster.name}} (CR {{monster.cr}} {{monster.type}})</div>
                        </div>
                    </div>
                    
                    <div class="nav-option">
                        <div>
                            Import Statblock <span>▼</span>
                        </div>
                        <div class="nav-dropdown">
                            <div class="nav-dropdown-option" @click="importMonsterFromClipboard()" >From Clipboard</div>
                            <div class="nav-dropdown-option" @click="clickFileImportButton()">From File</div>
                        </div>
                    </div>

                    <div class="nav-option" @click="clearAllData()">
                        {{f5.misc.title_clear_all}}
                    </div>
                </div>

                <div class="subnav" v-else-if="editor.activeSection == 'encounter-display'">

                </div>

                <!-- Main Content -->
                <div class="main-content">

                    <!-- Monster Builder -->
                    <div class="display-section statblock-display" :class="{'active-display': (editor.activeSection == 'statblock-display')}">

                        <div class="statblock-wizard-container" :class="{'show-wizard': editor.usingWizard}">
                            <Statblockwizard
                                :f5="f5"
                                :measure="editor.measure"
                                @finish-monster="createStatBlockFromWizardData"
                                @close-wizard="closeWizard"
                            >
                            </Statblockwizard>
                        </div>

                        <div class="statblock-group">
                            <Statblock 
                                v-for="statblock in statblocks"
                                v-bind:key="statblock.trackingId"
                                :initial-statblock="statblock"
                                :f5="f5"
                                :player-data="editor.playerData"
                                :combat-rounds="editor.roundTracker"
                                :measure="editor.measure"
                                @remove-statblock="removeStatBlock"
                                @update-name="updateMonsterName"
                                @update-hp="updateMonsterHP"
                                @update-cr="updateMonsterCR"
                                @update-projections="updateMonsterProjections"
                                ref="statblocks"
                            >
                            </Statblock>
                        </div>

                        <div class="getting-started" v-if="statblocks.length == 0">
                            <div class="starting-prompts">Getting started: Create a statblock using the tools below!</div>
                            <div class="flex-rows">
                                <div class="starting-option">
                                    <div>
                                        <button @click="createStatBlock()" >CREATE STATBLOCK FROM SCRATCH</button>
                                    </div>
                                    <div>
                                        Start a new creature from scratch!
                                    </div>
                                </div>
                                <div class="starting-option">
                                    <div>
                                        <button @click="initStatBlockWizard()" >CREATE STATBLOCK USING WIZARD</button>
                                    </div>
                                    <div>
                                        Using the Creature Wizard to build a new creature with helpful hints and tips.
                                    </div>
                                </div>
                                <div class="starting-option">
                                    <div>USE A CREATURE TEMPLATE</div>
                                    <div>
                                        Use the template in the navigation menu to select an existing create to use as a template.
                                    </div>
                                </div>
                            </div>
                            <div class="starting-prompts">Been here before? Import a creature data to continue where you left off</div>
                            <div class="flex-rows">
                                <div class="starting-option">
                                    <div>
                                        <button @click="importMonsterFromClipboard()" >IMPORT MONSTER FROM CLIPBOARD</button>
                                    </div>
                                    <div>
                                        Import a set of monster data saved in your clipboard.
                                    </div>
                                </div>
                                <div class="starting-option">
                                    <div>
                                        <button @click="clickFileImportButton()" >IMPORT MONSTER FROM FILE</button>
                                    </div>
                                    <div>
                                        Import monster data saved in a file.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input class="hidden" type="file" name="jsonUpload" id="jsonUpload" @change="importMonsterFromFile" />


                    <!-- Encounter Analysis -->
                    <div class="display-section encounter-display" :class="{'active-display': (editor.activeSection == 'encounter-display')}">
                        <div class="controls-holder">

                            <div class="encounter-controls ui-box">
                                <div class="control-title col-span-2">Encounter Settings</div>

                                <div class="encounter-controls-section">
                                    <div class="control-title">{{ f5.misc.title_player_settings }}</div>
                                    <div>
                                        <label class="control-label" for="controls__player-count">{{f5.misc.title_player_characters_count}}: </label>
                                        <select v-model="editor.playerData.number">
                                            <option v-for="i in 12" :value="i">{{i}}</option>
                                        </select>
                                    </div>
                                    <div>
                                        <label class="control-label" for="controls__player-levels">{{f5.misc.title_player_characters_level}}: </label>
                                        <select v-model="editor.playerData.level">
                                            <option v-for="(obj, i) in f5.playerlevels" :value="i">{{i}}</option>
                                        </select>
                                    </div>
                                    <br/>
                                    <div>{{ f5.misc.title_average_player_hp_at_level }} {{ f5.playerlevels[this.editor.playerData.level].average_hp }}</div>
                                    <div>{{ f5.misc.title_average_player_dpr_at_level }} {{ f5.playerlevels[this.editor.playerData.level].average_dpr }}</div>
                                </div>

                                <div class="encounter-controls-section row-span-2" style="grid-row: span 2;">
                                    <div class="control-title">{{f5.misc.title_encounter_summary}}</div>
                                    <div>
                                        {{ f5.misc.title_total_xp}}: {{ encounterXP }} 
                                        <br/>
                                        {{ f5.misc.title_encounter_difficulty}}: {{ encounterDifficulty.name }}
                                        <div class="swatch" :style="'background: '+encounterDifficulty.colour"></div>
                                    </div>
                                </div>
                                
                                <div class="encounter-controls-section">
                                    <div class="control-title">{{f5.misc.title_monster_settings}}</div>
                                    <div v-for="statblock in statblocks" >
                                        <div>
                                            <label class="control-label" for="controls__player-count">{{ statblock.name }} ({{ f5.misc.title_cr }} {{ statblock.cr }}): </label>
                                            <select v-model="statblock.number">
                                                <option v-for="i in 10" :value="i">{{i}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <Encountergraph 
                            :encounter-data="statblocks"
                            :player-count="editor.playerData.number"
                            :player-level="editor.playerData.level"
                            :combat-rounds="editor.roundTracker"
                            :f5="f5"
                            ref="encounterGraph"
                        >
                        </Encountergraph>
                    </div>

                </div>

                <footer>
                    <div class="legal">
                        Frankenstein 5E is unofficial Fan Content permitted under the Fan Content Policy. Not approved/endorsed by Wizards. Portions of the materials used are property of Wizards of the Coast. ©Wizards of the Coast LLC.
                    </div>
                </footer>

            </div>

        
        </div>
    </body>
</html>
