.main-grid {
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: 100px 1vh;
}

#logo {
    width: 100%;
    height: 100%;
    border: 1px black solid;
    box-sizing: border-box;
}

#top-nav {
    width: 100%;
    border: 1px black solid;
    box-sizing: border-box;
}

#side-nav {
    font-size: 14px;
    z-index: 50;
    box-sizing: border-box;
}

.nav-option {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    border: 1px black solid;
    cursor: pointer;

    &:first-child {
        margin-top: 0;
    }
}

.controls-holder {
    display: flex;
    flex-direction: row;
}

.encounter-controls {
    padding: 10px;
    border: 1px black solid;
    width: 500px;
    border-radius: 5px;
    display: grid; 
    grid-template-columns: repeat(2, 50%);
}

.col-span-2 {
    grid-column: span 2;
}

.row-span-2 {
    grid-row: span 2;
}

.builder-controls {
    padding: 10px;
    border: 1px black solid;
    width: 200px;
    border-radius: 5px;
}

.builder-controls-group {
    border: 1px solid black;
    margin-top: 5px;
    border-radius: 2px;
    padding: 3px;
}

.control-title {
    font-weight: bold;
}

.popup-overlay {
    border: 1px black solid;
    border-radius: 7px;
    color: black;
    background-color: bisque;
    z-index: 1000;
    padding: 10px;
    margin: 4px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}

.dpr-controller {
    position: relative;
    width: 900px;
}

.cr-controller {
    position: relative;
    width: 300px;
}

.display-section {
    display: none;
    &.active-display {
        display: block;
    }
}

.statblock-group {
    display: flex;
}

.statblock-container {
    display: flex;
}

.statblock-data {
    position: relative;
    display: flex;
}

.slide-button {
    margin: 5px 0;
    width: 150px;
    position: relative;
    cursor: pointer;
    padding-left: 35px;
    -webkit-transition: color .1s ease;
    transition: color .1s ease;

    label {    
        margin-left: 35px;
    }

    &:before {
        display: block;
        position: absolute;
        content: '';
        left: 0;
        z-index: 1;
        top: 0.4rem;
        background-color: rgba(0,0,0,.05);
        width: 3.5rem;
        height: 0.2rem;
        border-radius: 250rem;
        -webkit-transition: background .3s ease;
        transition: background .3s ease;
    }
    &:after {
        background: #fff -webkit-gradient(linear,left top,left bottom,from(transparent),to(rgba(0,0,0,.05)));
        background: #fff -webkit-linear-gradient(transparent,rgba(0,0,0,.05));
        background: #fff linear-gradient(transparent,rgba(0,0,0,.05));
        position: absolute;
        content: ''!important;
        z-index: 2;
        -webkit-box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%), 0 0 0 1px rgb(34 36 38 / 15%) inset;
        box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%), 0 0 0 1px rgb(34 36 38 / 15%) inset;
        width: 1.5rem;
        height: 1.5rem;
        top: -0.25rem;
        left: 0;
        border-radius: 250rem;
        -webkit-transition: left .3s ease;
        transition: left .3s ease;
    }

    &.selected {
        &:before {
            background-color: #48e79d !important;
        }

        &:after {
            left: 2rem;
        }
    }
}

.creature-options {

    .option-label {
        font-weight: bold;
        color: black;
    }

    .option {
        margin-bottom: 10px;

        &.options-row {
            flex-direction: row;
            display: flex;
            flex-wrap: wrap;

            .option-box {
                border: 1px black solid;
                border-radius: 7px;
                padding: 4px;
                background: #5a5a5a;
                color: white;
                margin: 2px;
            }
        }
    }
}

.add-feature {
    display: none;
    position: fixed;
    width: 50%;
    height: 60%;
    top: 50%;
    left: 50%;
    margin-top: -15%; /* Negative half of height. */
    margin-left: -25%; /* Negative half of width. */
    color: black;

    .feature-section {
        margin-top: 2%;
    }

    .columns {
        display: flex;
        flex-direction: row;
        .column {
            flex: 1;
        }
    }

    label {
        font-weight: bold;
    }

    &.show {
        display: block;
    }
    
    .feature-text {
        margin-top: 2%;
        height: 25%;

        textarea {
            height: 75%;
            width: 100%;
        }
    }

    .feature-specifics {
        padding-left: 15px;
    }

    .add-feature-button {
        font-size: 1.3em;
    }
}

.swatch {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px black solid;
}