$statblockBackground: linear-gradient(#efe2b5 0%, #f8f2d5 10%, #f8f2d5 90%, #efe2b5 100%);
$statblockEditorBackground: #e9e9e9;
$statblockEditorBackgroundSecondary: #d8d8d8;
$statblockEditorBackgroundTertiary: #b6b5b5;

button {
    position: relative;
    border: 1px black solid;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;

    .primary {
        background: lightseagreen;
    }

    .secondary {
        background: rgb(163, 163, 163);
    }

    &:hover {
        left: -1px;
        top: -1px;
        filter: brightness(1.1);
    }
}

.underline {
    border-bottom: 1px black solid;
    margin-bottom: 4px;
}


h1, h2, h3, h4 {
    margin: 0;
}



//FONTS

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Italic.ttf);
    font-style: italic;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-MediumItalic.ttf);
    font-style: italic;
    font-weight: 500;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Black.ttf);
    font-weight: 900;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-BlackItalic.ttf);
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Light.ttf);
    font-weight: lighter;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-LightItalic.ttf);
    font-weight: lighter;
    font-style: italic;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Thin.ttf);
    font-weight: 100;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-ThinItalic.ttf);
    font-weight: 100;
    font-style: italic;
}