.turn-breakdown {
    display: flex;
}

.turn-display {
    border: 1px black solid;
}

#encounter-graph {
    max-width: 900px;
}

.breakdown-monster {
    margin-top: 5px;
    label {
        text-decoration: underline;
    }
}