.statblock__feature-option {
    display: none;
}

.statblock__feature-list {
    .statblock__feature {
        color: black;
        margin-bottom: 12px;
        break-inside: avoid;
        .feature__display {
            position: relative;
        }
        .feature__title {
            font-weight: bold;
            font-style: italic;
        }
        .feature__description {
            width: 98%;
            resize: none;
            margin: 4px 0;
        }
        .feature__remove {
            @extend .x;
            display: none;
        }
        .feature__move-up {
            @extend .x;
            right: 25px;
            top: -5px;
            display: none;
        }
        .feature__move-down {
            @extend .x;
            right: 25px;
            top: 15px;
            display: none;
        }
        .feature__options {
            //margin-left: 5px;
            //column-count: 2;
            //column-gap: 2px;
        }
        .feature__damage, .feature__regen, .feature__option-group {
            position: relative;
            width: 97%;
            border: 1px black solid;
            background-color: $statblockEditorBackgroundTertiary;
            border-radius: 8px;
            padding: 2px 4px;
            .feature__remove-damage, .feature__remove-regen {
                @extend .x;
            }
        }

        .feature__condition-duration-details {
            padding-left: 35px;
        }
        
        .feature__spellGroup {
            margin: 2px 0;
        }
        .feature__spellGroup__item {
            position: relative;
            .feature__spellGroup__name {
                border: 2px black solid;
                border-radius: 7px;
                padding: 2px;
                background: powderblue;  
            }
        }
        .feature__edit-spell {
            position: relative;
            border: 1px black solid;
            border-radius: 8px;
            padding: 2px;     
            max-width: 90%;

            .feature__spells__remove {
                @extend .x;
            }

            input {
                max-width: 90%;
            }
        }
        .feature__spell-slots {
            // display: grid;
            // grid-template-columns: repeat(3, 30%);
        }
        .feature__spell-slots__group {
            margin-right: 2px;
        }
        .feature__spells {
            padding: 2px;
        }
        .feature__spell-list {
            display: grid;
            grid-template-columns: repeat(3, 33%);
        }
        .feature__option-multiattack {
            .feature__multiattack__featureRef {
                position: relative;
                width: 99%;
                margin: 1px 0;
                .feature__multiattack__remove {
                    @extend .x;
                }
            }
        }

        .edit-feature {
            position: absolute;
            left: 50%;
            top: 20px;
            transform: translateX(-50%);
            max-width: 90%;
            padding: 5px;
            background-color: $statblockEditorBackground;
            z-index: 100;
            box-shadow: 0px 0px 40px #000, 0px 0px 40px #000;
            max-height: 90vh;
            overflow-y: scroll;
            overflow-x: hidden;
            border: 1px black solid;
            border-radius: 5px;

            .feature__dpr-display {
                width: 100%;
                text-align: right;
                padding-right: 10px;
                box-sizing: border-box;
            }

            .feature__section {
                border: 1px solid black;
                border-radius: 3px;
                background-color: $statblockEditorBackgroundSecondary;
                margin-bottom: 10px;
                padding: 4px 8px;
                position: relative;

                .feature__section-title {
                    @extend .underline;
                    font-size: 1.1em;
                    font-weight: bold;
                }

                button {
                    margin: 4px 0;
                }
            }
        }

        .edit-field {
            width: 70%;
            padding: 10px;
            break-inside: avoid-column;
            .title-label {
                font-weight: bold;
            }
        }

        &:hover {
            .feature__remove {
                display: block;
            }
        }
        
        &:hover:not(:first-child) {
            .feature__move-up {
                display: block;
            }
        }

        &:hover:not(:last-child) {
            .feature__move-down {
                display: block;
            }
        }
    }
}