@import 'design';

.popup-alert {
    position:fixed;
    top:30px;
    left:50%;
    z-index:1000;
    transform: translateX(-50%);
    padding: 10px; 
    background-color:white;
    border:black 1px solid;
}

.fake-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.lightbox-container {
    position: fixed;
    z-index: 100;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,.75);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow-y: scroll;
}

.hidden {
    display: none;
}

.strong {
    font-weight: bold;
}
.small {
    font-size: .9em;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.i {
    font-style: italic;
}

.flex-rows {
    display: flex;
    flex-direction: row;
}
.col-span-2 {
    grid-column: span 2;
}

.row-span-2 {
    grid-row: span 2;
}

.grid-3-cols {
    display: grid;
    grid-template-columns: repeat(3, 33%);
}

.info {
    cursor: help;
    position: relative;

    .info-hover {
        position: absolute;
        display: none;
        top: 0;
        left: 100%;
        min-width: 300px;
        color: white;
        background-color: #282828;
        border-radius: 5px;
        padding: 5px;
        z-index: 10;
    }

    &:hover {
        .info-hover {
            display: block;
        }
    }
}

input[type=number] {
    max-width: 50px;
}

.multiselect {
    margin: 0;
}
