$statBlockRed: #822000;

.editable {
    border: 1px black solid;
    border-radius: 8px;
    background-color: white;
}

.hidden-holder {
    .edit-show {
        display: none;
        @extend .editable;
    }
}

.multiselect-tag {
    border-radius: 10px;
    background-color: green;
}

.indent-margin {
    margin-left: 4px;
}

.stat-block {
    position: relative;
    width: 100%;
    min-width: 450px;
    min-height: 200px;
    font-family: Roboto, Helvetica,sans-serif;
    font-size: 15px;
    font-weight: normal;
    padding: 7px;
    box-sizing: border-box;
    color: $statBlockRed;
    border: 1px solid #d8d4d1;
    box-shadow: 0 0 5px #a5a6ad;
    background: url('/images/statblock/top.png'),url('/images/statblock/bg.png');
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat,repeat;

    textarea {
        font-family: Roboto, Helvetica,sans-serif;
        font-size: 15px;
        font-weight: normal;
    }

    &.column-1 {
        column-count: 1;
        max-width: 450px;
    }

    &.column-2 {
        column-count: 2;
        column-width: 50%;
    }

    &.column-3 {
        column-count: 3;
        column-width: 33%;
    }

    &:before, &:after {
        content: "";
        display: block;
        background: url('/images/statblock/border.png') center;
        background-size: 100% 100%;
        height: 6px;
        position: absolute;
        left: -3px;
        right: -3px;
    }
    &:before {
        top: -3px;
    }
    &:after {
        bottom: -3px;
    }

    .title {
        margin-right: 2px;
    }

    .option {
        &.edit-field {
            font-style: normal;
            font-weight: bold;
            color: black;
            padding: 2px;
            @extend .indent-margin;
        }
    }

    .stat-block__title {
        font-weight: bold;
        font-size: 2em;
        margin-bottom: -3px;
        input {
            font-weight: bold;
            font-size: 1em;
            color: $statBlockRed;
        }
    }
    .stat-block__subtitle {
        .header {
            font-size: 1.2em;
            text-transform: uppercase;
            border-bottom: 1px solid $statBlockRed;
            width: 100%;
            margin: 20px 0 12px 0;
            padding-bottom: 5px;

            &::first-letter {
                font-size: 1.3em;
            }
        }
    }

    .stat-block__section {
        break-inside: avoid;
    }

    .stat-block__size-alignment {
        color: black;
        font-style: italic;
        font-size: .9em;
    }

    .stat-block__ability-scores {
        display: flex;
        flex-direction: row;
        width: 100%;
        text-align: left;
        .stat-block__ability {
            flex: 1 1 0px;
            text-align: center;
            .stat-block__ability-name {
                font-weight: bold;
            }

        }
    }

    .stat-block__attributes {
        .stat-block__attribute {
            &.edit-show {
                padding: 0 4px;
            }
            .title {
                font-weight: bold;
            }
        }
        
        .hoverElements {
            display: none;
        }

        &:hover {
            .hoverElements {
                display: unset;
            }
        }
    }

    .stat-block__line-break {
        background-image: url('/images/statblock/separator-bar.svg');
        padding-bottom: .7%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 11px 0;
    }

    .stat-block__add-feature-button {
        @extend .editable;
        display: none;
        font-weight: bold;
        cursor: pointer;
        margin-bottom: 10px;
        &:hover {
            background-color: #7e7a6338;    
            border-radius: 8px;
        }
    }

    .stat-block__feature {
        color: black;
        margin-bottom: 12px;
        .feature__display {
            position: relative;
        }
        .feature__title {
            font-weight: bold;
            font-style: italic;
        }
        .feature__description {
            width: 98%;
            resize: none;
        }
        .feature__remove {
            display: none;
            position: absolute;
            font-size: 12px;
            font-weight: bold;
            right: 0;
            top: 0;
            padding: 0px 5px 2px 6px;
            transform: translate(50%, -50%);
            background-color: white;
            border: 1px black solid;
            border-radius: 17px;
        }
        .feature__options {
            margin-left: 5px;
            //column-count: 2;
            //column-gap: 2px;
        }
        .feature__damage {
            position: relative;
            border: 1px black solid;
            background-color: #f3efdd;
            border-radius: 8px;
            padding: 2px;
            .feature__remove-damage {
                border: 1px black solid;
                background-color: white;
                right: 0;
                top: 0;
                font-size: 12px;
                font-weight: bold;
                position: absolute;
                padding: 0px 6px 2px 5px;
                border-radius: 17px;
                transform: translate(50%, -50%);
            }
        }
        .attack-border {
            border: 1px black solid;
            border-radius: 8px;
            padding: 2px;
        }
        .edit-feature {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 5%;
            max-width: 450px;
            background-color: #f8f1ce;
            z-index: 100;
            box-shadow: 0px 0px 40px #000, 0px 0px 40px #000;
        }
        .edit-field {
            width: 98%;
            padding: 5px;
            break-inside: avoid-column;
            .title-label {
                font-weight: bold;
            }
        }
        &:hover {
            .feature__remove {
                display: block;
            }
        }
    }

    
    .focus-edit {
        .edit-field {
            display: none;
            @extend .editable;
        }
    }
        
    &.edit-mode {
        
        .no-edit {
            cursor: not-allowed;
        }
        .stat-block__add-feature-button {
            display: block;
            padding: 0 4px;
        }
        .hidden-holder {
            .edit-show {
                display: block !important;
            }
        }
        
        .focus-edit {
            cursor: pointer;

            &:hover {
                background-color: #7e7a6338;    
                border-radius: 8px;
            }

            .edit-field {
                .feature__description {
                    border: 1px black solid;
                    background-color: white;  
                    width: 97%;
                }
                .feature__description-textarea {
                    width: 97%;
                    border: 1px black solid;
                }
            }
            
            &.focused {
                cursor: inherit;
                border: solid 3px black;
                padding: 2px;
                border-radius: 8px;

                .edit-field {
                    display: block;
                    &--flex {
                        display: flex;
                    }
                }
                .display-field {
                    display: none;
                }
            }
        }
        
    }
}