@import "./mixins";

$statBlockRed: #822000;

.editable {
    border: 1px black solid;
    border-radius: 8px;
    background-color: white;
}

.hidden-holder {
    .edit-show {
        display: none;
        @extend .editable;
    }
}

.multiselect-tag {
    border-radius: 10px;
    background-color: green;
}

.indent-margin {
    margin-left: 4px;
}

i {
    font-style: italic;
}

.three-flex-columns {
    display: flex;
    flex-wrap: wrap;

    div {
        width: 33%;
    }
}

.statblock__remove {
    @extend .x;
    right: -20px;
    transform: translate(-50%, -50%);
    top: 0;
}


.statblock-display {
    //min-height: calc(90vh - 100px); //100px is the nav height
}

// .statblock-group {
//     display: flex;
// }

.statblock-container {
    display: flex;
    width: fit-content;
    height: fit-content;
}

.statblock-data {
    position: relative;
    height: fit-content;

}

.statblock-data-display {
    padding: 10px;
    border: 1px black solid;
    border-radius: 5px;
}

.statblock {
    position: relative;
    //width: 90%;
    min-width: 425px;
    min-height: 200px;
    font-family: Roboto, Helvetica,sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding: 7px;
    margin: 5px;
    box-sizing: border-box;
    color: $statBlockRed;
    border: 1px solid #d8d4d1;
    background: linear-gradient(#efe2b5 0%, #f8f2d5 10%, #f8f2d5 90%, #efe2b5 100%);

    &.statblock--clickable {
        cursor: pointer;
        transition: box-shadow 200ms, scale 200ms;

        box-shadow: 0 0 5px #a5a6ad;
        &:hover {
            box-shadow: 0 0 10px 10px #a5a6ad;
            scale: 1.01;
        }
    }

    textarea {
        font-family: Roboto, Helvetica,sans-serif;
        font-size: 15px;
        font-weight: 500;
    }

    &.column-1 {
        column-count: 1;
        max-width: 450px;
    }

    &.column-2 {
        column-count: 2;
        column-width: 50%;
        min-width: 675px;
        max-width: 800px;
    }

    &.column-3 {
        column-count: 3;
        column-width: 33%;
        min-width: 900px;
        max-width: 1200px;
    }

    &:before, &:after {
        content: "";
        display: block;
        border: 1px black solid;
        background-color: #bb954c;
        background-size: 100% 100%;
        height: 4px;
        position: absolute;
        left: -3px;
        right: -3px;
    }
    &:before {
        top: -3px;
    }
    &:after {
        bottom: -3px;
    }

    .title {
        margin-right: 2px;
    }

    .option {
        &.edit-field {
            font-style: normal;
            font-weight: bold;
            color: black;
            padding: 2px;
            @extend .indent-margin;
        }
    }

    .statblock__title {
        margin-bottom: -3px;

        .monster-name {
            font-weight: bold;
            font-size: 2em;
        }
        
        input {
            font-weight: bold;
            font-size: 1em;
            color: $statBlockRed;
            max-width: 100%;
        }
        label.proper-noun {
            font-weight: normal;
            color: black;
            border: none;
            background-color: unset;
        }
    }
    .statblock__subtitle {
        .header {
            font-size: 1.2em;
            text-transform: uppercase;
            border-bottom: 1px solid $statBlockRed;
            width: 100%;
            margin: 20px 0 12px 0;
            padding-bottom: 5px;

            &::first-letter {
                font-size: 1.3em;
            }
        }
    }

    .statblock__section {
        margin: 10px 0;
        min-width: 350px;
    }

    .statblock__size-alignment {
        color: black;
        font-style: italic;
        font-size: .9em;
    }

    .statblock__ability-scores {
        width: 100%;
        text-align: left;
        .statblock__ability-scores__holder {
            display: flex;
            flex-direction: row;
            width: 100%;
        }

        .statblock__ability {
            flex: 1 1 0px;
            text-align: center;
            .statblock__ability-name {
                font-weight: bold;
            }

        }
    }

    .statblock__attributes {
        break-inside: avoid;
        .statblock__attribute {
            &.edit-show {
                padding: 0 4px;
            }
            .title {
                font-weight: bold;
            }
            .languages__telepathy {
                display: inline;
                background-color: unset;
                border: unset;
            }
        }
        
        .hoverElements {
            display: none;
        }

        &:hover {
            .hoverElements {
                display: unset;
            }
        }
    }

    .statblock__line-break {
        background-image: url('/images/statblock/separator-bar.svg');
        padding-bottom: .7%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 11px 0;
    }

    .statblock__add-feature-button {
        @extend .editable;
        display: none;
        font-weight: bold;
        cursor: pointer;
        margin-bottom: 10px;
        &:hover {
            background-color: #7e7a6338;    
            border-radius: 8px;
        }
    }

    .statblock__feature-option {
        display: none;
    }

    .statblock__feature-list {
        .statblock__feature {
            color: black;
            margin-bottom: 12px;
            break-inside: avoid;
            .feature__display {
                position: relative;
            }
            .feature__title {
                font-weight: bold;
                font-style: italic;
            }
            .feature__description {
                width: 98%;
                resize: none;
            }
            .feature__remove {
                @extend .x;
                display: none;
            }
            .feature__move-up {
                @extend .x;
                right: 25px;
                top: -5px;
                display: none;
            }
            .feature__move-down {
                @extend .x;
                right: 25px;
                top: 15px;
                display: none;
            }
            .feature__options {
                margin-left: 5px;
                //column-count: 2;
                //column-gap: 2px;
            }
            .feature__damage, .feature__regen {
                position: relative;
                border: 1px black solid;
                background-color: #f3efdd;
                border-radius: 8px;
                padding: 2px;
                .feature__remove-damage, .feature__remove-regen {
                    @extend .x;
                }
            }
            
            .feature__spellGroup {
                margin: 2px 0;
            }
            .feature__spellGroup__item {
                position: relative;
                .feature__spellGroup__name {
                    border: 2px black solid;
                    border-radius: 7px;
                    padding: 2px;
                    background: powderblue;  
                }
            }
            .feature__edit-spell, .feature__spell-slots {
                position: relative;
                border: 1px black solid;
                border-radius: 8px;
                padding: 2px;     
                max-width: 90%;

                .feature__spells__remove {
                    @extend .x;
                }

                input {
                    max-width: 90%;
                }
            }
            .feature__spell-slots {
                // display: grid;
                // grid-template-columns: repeat(3, 30%);
            }
            .feature__spell-slots__group {
                margin-right: 2px;
            }
            .feature__spells {
                padding: 2px;
            }
            .feature__spell-list {
                display: grid;
                grid-template-columns: repeat(3, 33%);
            }
            .feature__option-multiattack {
                .feature__multiattack__featureRef {
                    position: relative;
                    width: 99%;
                    margin: 1px 0;
                    .feature__multiattack__remove {
                        @extend .x;
                    }
                }
            }
            .attack-border {
                border: 1px black solid;
                border-radius: 8px;
                padding: 2px;
            }
            .edit-feature {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 20px;
                max-width: 90%;
                background-color: #f8f1ce;
                z-index: 100;
                box-shadow: 0px 0px 40px #000, 0px 0px 40px #000;
                max-height: 90vh;
                overflow-y: scroll;
                overflow-x: hidden;

                .feature__dpr-display {
                    width: 100%;
                    text-align: right;
                    padding-right: 10px;
                    box-sizing: border-box;
                }
            }
            .edit-field {
                width: 70%;
                padding: 5px;
                break-inside: avoid-column;
                .title-label {
                    font-weight: bold;
                }
            }
            &:hover {
                .feature__remove {
                    display: block;
                }
            }
            
            &:hover:not(:first-child) {
                .feature__move-up {
                    display: block;
                }
            }
            &:hover:not(:last-child) {
                .feature__move-down {
                    display: block;
                }
            }
        }
    }

    
    .focus-edit {
        .edit-field {
            display: none;
            &.multiselect {
                @extend .editable;
            }
        }
    }
        
    &.edit-mode {
        
        .no-edit {
            cursor: not-allowed;
        }
        .statblock__add-feature-button {
            display: block;
            padding: 0 4px;
        }
        .statblock__feature-option {
            display: inline;
        }
        .hidden-holder {
            .edit-show {
                display: block !important;
            }
        }
        
        .focus-edit {
            cursor: pointer;

            &:hover {
                background-color: #7e7a6338;    
                border-radius: 8px;
            }

            .edit-field {
                .feature__description {
                    border: 1px black solid;
                    background-color: white;  
                    width: 97%;
                }
                .feature__description-textarea {
                    width: 97%;
                    border: 1px black solid;
                }
            }
            
            &.focused {
                cursor: inherit;
                border: solid 3px black;
                padding: 2px;
                border-radius: 8px;

                .edit-field {
                    display: block;
                    &--flex {
                        display: flex;
                    }
                    &--inlineBlock {
                        display: inline-block;
                    }
                }
                .display-field {
                    display: none;
                }
            }
        }
        
    }
}

$lightboxPadding: 20px;

.statblock-lightbox {
    position: fixed;
    z-index: 100;
    padding: $lightboxPadding;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.75);

    display: none;
    grid-template-columns: calc(25% - #{$lightboxPadding}) calc(75% - #{$lightboxPadding});
    gap: $lightboxPadding / 2;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    &.edit-mode {
        display: grid;

        .statblock-container {
            .statblock {
                column-count: 2;
                column-width: 50%;

                @media (max-width: 900px) { 
                    column-count: 1;
                    column-width: 100%;
                }
            }
        }


        @include breakpoint-tablet-down {
            padding: 4px;
            grid-template-columns: calc(100% - #{$lightboxPadding});
            
            .statblock-data {
                display: flex;
                width: calc(100% - #{$lightboxPadding});
                &:not(:last-child) {
                    margin-right: $lightboxPadding / 2;
                }
                .statblock-data-display {
                    width: 50%;
                }
            }
        
        }
    }


}