@import "./mixins";

$lightboxPadding: 20px;

.statblock-wizard-container {
    position: fixed;
    z-index: 100;
    padding: $lightboxPadding;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    display: none;
    
    &.show-wizard {
        overflow-y: scroll;
        display: block;
    }

    .title {
        font-weight: bold;
    }

    .statblock-wizard {
        width: fit-content;
        .wizard-page {
            position: relative;
            display: none;
            &__active {
                display: block;
            }
        }
    }

    $stepColour: #777;
    $stepActiveColour: rgb(0, 139, 42);
    $stepPastColour: #108cb9;

    .progress-container {
        display: flex;
        padding: 0;
        font-family: arial;
        font-size: 12px;
        line-height: 1em;
        margin: 0 -1px 10px;
        text-align: center;
        padding: 2px 20px 2px 5px;
        border: 1px black solid;
        border-radius: 5px;
        background: white;
        width: fit-content;
        flex-wrap: wrap;
        
        .step {
            padding: 10px 20px 10px 20px;
            background: $stepColour;
            color: #fff;
            position: relative;
            border-top: 1px solid $stepColour;
            border-bottom: 1px solid $stepColour;
            margin: 1px;

            &::before {
                content: '';
                border-left: 16px solid #fff;
                border-top: 16px solid transparent;
                border-bottom: 16px solid transparent;
                position: absolute;
                top: 0;
                left: 0;
            }
            &::after {
                content: '';
                border-left: 16px solid $stepColour;
                border-top: 16px solid transparent;
                border-bottom: 16px solid transparent;
                position: absolute;
                top: 0;
                left: 100%;
                z-index: 20;
            }

            &.active {
                background: $stepActiveColour;
                &::after {
                    border-left-color: $stepActiveColour;
                }
            }
            &.set {
                cursor: pointer;
                background: $stepPastColour;
                &::after {
                    border-left-color: $stepPastColour;
                }
                &:hover {
                    
                    cursor: pointer;
                    background: $stepActiveColour;
                    &::after {
                        border-left-color: $stepActiveColour;
                    }
                }
            }
        }
    }
        

    .btnContainer {
        margin-top: 10px;
        button {
            padding: 3px;
        }
    }

    .section-container {
        gap: 20px;
    }

    .attribute-container {
        margin-bottom: 20px;
    }

    .creature-type-inner-container {
        margin-top: 10px;
        max-width: max-content;

        .multiselect {
            max-width: 350px;
        }

        &.types {
            min-width: max-content;
        }

        &.subtypes {
            min-width: 215px;
        }

        &.size {
            max-width: 300px;
        }
    }

    .creature-tips {
        max-width: max-content;
        border: black 1px solid;
        border-radius: 6px;
        background-color: beige;
        padding: 5px;

        ul {
            margin-top: .25em;
        }

        .creature-title {
            
        }

        .apply-tag {
            font-size: small;
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .ability-priority-container {
        margin-right: 15px;
    }

    .ability-priority {
        display: flex;
        flex-direction: row;
        margin-bottom: 5px;

        .ability-priority__move-arrows {
            display: inline-block;
            margin-right: 8px;

            .ability-priority__move-arrow {
                border: 1px black solid;
                background-color: white;
                right: 0;
                top: 0;
                font-size: 12px;
                font-weight: bold;
                padding: 0px 6px 2px 5px;
                border-radius: 17px;
                cursor: pointer;

                &.disabled {
                    pointer-events: none;
                    opacity: 0;
                }

                &:hover {
                    background-color: rgb(170, 237, 239);
                    scale: 1.1;
                }
            }
        }

        .ability-priority__scores {
            width: 62px;
        }

        .ability-priority__display {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    }

    .ability-section {
        margin-bottom: 3px;
        .saves {
            margin-left: 10px;
        }
    }

    .ability-title {    
        min-width: 125px;
    }

    .ability-name {
        min-width: 120px;
    }

    .select-armor-hp {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }

    .select-damage-types {
        min-width: 200px;
    }

    .wizard-header {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 4px;
    }
    .wizard-subheader {
        margin-bottom: 8px;
    }

    .small-text {
        font-size: 12px;
    }
    .fake-link {
        color: blue;
        text-decoration: underline;
        cursor: pointer;
    }

    .wizard-feature-list {
        li {
            position: relative;
        }
        .x {
            right: -10px
        }
    }

    .wizard-monster-name {
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 1.5em;
    }

}