@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Italic.ttf);
    font-style: italic;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-MediumItalic.ttf);
    font-style: italic;
    font-weight: 500;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Black.ttf);
    font-weight: 900;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-BlackItalic.ttf);
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Light.ttf);
    font-weight: lighter;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-LightItalic.ttf);
    font-weight: lighter;
    font-style: italic;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Thin.ttf);
    font-weight: 100;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-ThinItalic.ttf);
    font-weight: 100;
    font-style: italic;
}

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 16px;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.main-content {
    position: relative;
    width: calc(100% - 4px);
    padding: 4px 0 0 4px;
}

.bold-text {
    font-weight: bold;
}

.creature-options {
    position: relative;
    width: 60%;    
    padding: 10px;
    
    display: grid;
    grid-template-columns: 150px 400px 150px 400px;
    grid-gap: 0 10px;
}

.title-size {
    font-size: 1.3em;
}

.i {
    font-style: italic;
}

footer {
    bottom: -12px;
    background-color: white;
    padding: 10px 30px;
    text-align: center;
    width: 100%;
    border-top: black 1px solid;
    margin: 10px auto 0;
    grid-column: 1/span 2;

    .legal {
        margin: 0 auto;
        min-width: 325px;
        max-width: 800px;
    }
}

.flex-rows {
    display: flex;
    flex-direction: row;
}
.col-span-2 {
    grid-column: span 2;
}

.row-span-2 {
    grid-row: span 2;
}

.grid-3-cols {
    display: grid;
    grid-template-columns: repeat(3, 33%);
}

@import 'builder';
@import 'encounters';
@import 'statblock';
@import '../css/vueform.css';