.multiselect{position:relative;margin:0 auto;width:100%;display:flex;align-items:center;justify-content:flex-end;box-sizing:border-box;cursor:pointer;outline:none;border:var(--ms-border-width,1px) solid var(--ms-border-color,#d1d5db);border-radius:var(--ms-radius,4px);background:var(--ms-bg,#fff);font-size:var(--ms-font-size,1rem);min-height:calc(var(--ms-border-width, 1px)*2 + var(--ms-font-size, 1rem)*var(--ms-line-height, 1.375) + var(--ms-py, .5rem)*2)}.multiselect.is-open{border-radius:var(--ms-radius,4px) var(--ms-radius,4px) 0 0}.multiselect.is-open-top{border-radius:0 0 var(--ms-radius,4px) var(--ms-radius,4px)}.multiselect.is-disabled{cursor:default;background:var(--ms-bg-disabled,#f3f4f6)}.multiselect.is-active{box-shadow:0 0 0 var(--ms-ring-width,3px) var(--ms-ring-color,rgba(16,185,129,.18823529411764706))}.multiselect-multiple-label,.multiselect-placeholder,.multiselect-single-label{display:flex;align-items:center;height:100%;position:absolute;left:0;top:0;pointer-events:none;background:transparent;line-height:var(--ms-line-height,1.375);padding-left:var(--ms-px,.875rem);padding-right:calc(1.25rem + var(--ms-px, .875rem)*3);box-sizing:border-box;max-width:100%}.multiselect-placeholder{color:var(--ms-placeholder-color,#9ca3af)}.multiselect-single-label-text{overflow:hidden;display:block;white-space:nowrap;text-overflow:ellipsis;max-width:100%}.multiselect-search{width:100%;position:absolute;top:0;bottom:0;left:0;right:0;outline:none;box-sizing:border-box;border:0;-webkit-appearance:none;-moz-appearance:none;appearance:none;font-size:inherit;font-family:inherit;background:var(--ms-bg,#fff);border-radius:var(--ms-radius,4px);padding-left:var(--ms-px,.875rem)}.multiselect-search::-webkit-search-cancel-button,.multiselect-search::-webkit-search-decoration,.multiselect-search::-webkit-search-results-button,.multiselect-search::-webkit-search-results-decoration{-webkit-appearance:none}.multiselect-tags{flex-grow:1;flex-shrink:1;display:flex;flex-wrap:wrap;margin:var(--ms-tag-my,.25rem) 0 0;padding-left:var(--ms-py,.5rem);align-items:center}.multiselect-tag{background:var(--ms-tag-bg,#10b981);color:var(--ms-tag-color,#fff);font-size:var(--ms-tag-font-size,.875rem);line-height:var(--ms-tag-line-height,1.25rem);font-weight:var(--ms-tag-font-weight,600);padding:var(--ms-tag-py,.125rem) 0 var(--ms-tag-py,.125rem) var(--ms-tag-px,.5rem);border-radius:var(--ms-tag-radius,4px);margin-right:var(--ms-tag-mx,.25rem);margin-bottom:var(--ms-tag-my,.25rem);display:flex;align-items:center;white-space:nowrap}.multiselect-tag.is-disabled{padding-right:var(--ms-tag-px,.5rem);background:var(--ms-tag-bg-disabled,#9ca3af);color:var(--ms-tag-color-disabled,#fff)}.multiselect-tag-remove{display:flex;align-items:center;justify-content:center;padding:var(--ms-tag-remove-py,.25rem) var(--ms-tag-remove-px,.25rem);margin:var(--ms-tag-remove-my,0) var(--ms-tag-remove-mx,.125rem);border-radius:var(--ms-tag-remove-radius,4px)}.multiselect-tag-remove:hover{background:rgba(0,0,0,.06274509803921569)}.multiselect-tag-remove-icon{-webkit-mask-image:url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 320 512' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z'/%3E%3C/svg%3E");mask-image:url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 320 512' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z'/%3E%3C/svg%3E");-webkit-mask-position:center;mask-position:center;-webkit-mask-repeat:no-repeat;mask-repeat:no-repeat;-webkit-mask-size:contain;mask-size:contain;background-color:currentColor;opacity:.8;display:inline-block;width:.75rem;height:.75rem}.multiselect-tags-search-wrapper{display:inline-block;position:relative;margin:0 var(--ms-tag-mx,4px) var(--ms-tag-my,4px);flex-grow:1;flex-shrink:1;height:100%}.multiselect-tags-search-copy{visibility:hidden;white-space:pre-wrap;display:inline-block;height:1px;width:100%}.multiselect-tags-search{position:absolute;left:0;right:0;top:0;bottom:0;border:0;-webkit-appearance:none;-moz-appearance:none;outline:none;padding:0;font-size:inherit;font-family:inherit;box-sizing:border-box;width:100%;appearance:none}.multiselect-tags-search::-webkit-search-cancel-button,.multiselect-tags-search::-webkit-search-decoration,.multiselect-tags-search::-webkit-search-results-button,.multiselect-tags-search::-webkit-search-results-decoration{-webkit-appearance:none}.multiselect-spinner{-webkit-mask-image:url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 512 512' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M456.433 371.72l-27.79-16.045c-7.192-4.152-10.052-13.136-6.487-20.636 25.82-54.328 23.566-118.602-6.768-171.03-30.265-52.529-84.802-86.621-144.76-91.424C262.35 71.922 256 64.953 256 56.649V24.56c0-9.31 7.916-16.609 17.204-15.96 81.795 5.717 156.412 51.902 197.611 123.408 41.301 71.385 43.99 159.096 8.042 232.792-4.082 8.369-14.361 11.575-22.424 6.92z'/%3E%3C/svg%3E");mask-image:url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 512 512' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M456.433 371.72l-27.79-16.045c-7.192-4.152-10.052-13.136-6.487-20.636 25.82-54.328 23.566-118.602-6.768-171.03-30.265-52.529-84.802-86.621-144.76-91.424C262.35 71.922 256 64.953 256 56.649V24.56c0-9.31 7.916-16.609 17.204-15.96 81.795 5.717 156.412 51.902 197.611 123.408 41.301 71.385 43.99 159.096 8.042 232.792-4.082 8.369-14.361 11.575-22.424 6.92z'/%3E%3C/svg%3E");-webkit-mask-position:center;mask-position:center;-webkit-mask-repeat:no-repeat;mask-repeat:no-repeat;-webkit-mask-size:contain;mask-size:contain;background-color:var(--ms-spinner-color,#10b981);width:1rem;height:1rem;z-index:10;margin:0 var(--ms-px,.875rem) 0 0;-webkit-animation:multiselect-spin 1s linear infinite;animation:multiselect-spin 1s linear infinite;flex-shrink:0;flex-grow:0}.multiselect-clear{padding:0 var(--ms-px,.875rem) 0 0;position:relative;z-index:10;opacity:1;transition:.3s;flex-shrink:0;flex-grow:0;display:flex}.multiselect-clear:hover .multiselect-clear-icon{background-color:var(--ms-clear-color-hover,#000)}.multiselect-clear-icon{-webkit-mask-image:url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 320 512' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z'/%3E%3C/svg%3E");mask-image:url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 320 512' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z'/%3E%3C/svg%3E");background-color:var(--ms-clear-color,#999);display:inline-block;transition:.3s}.multiselect-caret,.multiselect-clear-icon{-webkit-mask-position:center;mask-position:center;-webkit-mask-repeat:no-repeat;mask-repeat:no-repeat;-webkit-mask-size:contain;mask-size:contain;width:.625rem;height:1.125rem}.multiselect-caret{transform:rotate(0deg);transition:transform .3s;-webkit-mask-image:url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 320 512' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z'/%3E%3C/svg%3E");mask-image:url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 320 512' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z'/%3E%3C/svg%3E");background-color:var(--ms-caret-color,#999);margin:0 var(--ms-px,.875rem) 0 0;position:relative;z-index:10;flex-shrink:0;flex-grow:0;pointer-events:none}.multiselect-caret.is-open{transform:rotate(180deg);pointer-events:auto}.multiselect-dropdown{position:absolute;left:calc(var(--ms-border-width, 1px)*-1);right:calc(var(--ms-border-width, 1px)*-1);bottom:0;transform:translateY(100%);border:var(--ms-dropdown-border-width,1px) solid var(--ms-dropdown-border-color,#d1d5db);margin-top:calc(var(--ms-border-width, 1px)*-1);max-height:15rem;overflow-y:scroll;-webkit-overflow-scrolling:touch;z-index:100;background:var(--ms-dropdown-bg,#fff);display:flex;flex-direction:column;border-radius:0 0 var(--ms-dropdown-radius,4px) var(--ms-dropdown-radius,4px);outline:none}.multiselect-dropdown.is-top{transform:translateY(-100%);top:var(--ms-border-width,1px);bottom:auto;flex-direction:column-reverse;border-radius:var(--ms-dropdown-radius,4px) var(--ms-dropdown-radius,4px) 0 0}.multiselect-dropdown.is-hidden{display:none}.multiselect-options{padding:0;margin:0;list-style:none;display:flex;flex-direction:column;max-height:var(--ms-max-height,10rem)}.multiselect-options.is-top{flex-direction:column-reverse}.multiselect-group{padding:0;margin:0;@apply p-0 m-0}.multiselect-group-label{padding:var(--ms-group-label-py,.3rem) var(--ms-group-label-px,.75rem);font-size:.875rem;font-weight:600;background:var(--ms-group-label-bg,#e5e7eb);color:var(--ms-group-label-color,#374151);cursor:default;line-height:var(--ms-group-label-line-height,1.375);display:flex;box-sizing:border-box;text-decoration:none;align-items:center;justify-content:flex-start;text-align:left}.multiselect-group-label.is-pointable{cursor:pointer}.multiselect-group-label.is-pointed{background:var(--ms-group-label-bg-pointed,#d1d5db);color:var(--ms-group-label-color-pointed,#374151)}.multiselect-group-label.is-selected{background:var(--ms-group-label-bg-selected,#059669);color:var(--ms-group-label-color-selected,#fff)}.multiselect-group-label.is-disabled{background:var(--ms-group-label-bg-disabled,#f3f4f6);color:var(--ms-group-label-color-disabled,#d1d5db);cursor:not-allowed}.multiselect-group-label.is-selected.is-pointed{background:var(--ms-group-label-bg-selected-pointed,#0c9e70);color:var(--ms-group-label-color-selected-pointed,#fff)}.multiselect-group-label.is-selected.is-disabled{background:var(--ms-group-label-bg-selected-disabled,#75cfb1);color:var(--ms-group-label-color-selected-disabled,#d1fae5)}.multiselect-group-options{padding:0;margin:0}.multiselect-option{padding:var(--ms-option-py,.5rem) var(--ms-option-px,.75rem);font-size:var(--ms-option-font-size,1rem);line-height:var(--ms-option-line-height,1.375);cursor:pointer;display:flex;box-sizing:border-box;text-decoration:none;align-items:center;justify-content:flex-start;text-align:left}.multiselect-option.is-pointed{background:var(--ms-option-bg-pointed,#f3f4f6);color:var(--ms-option-color-pointed,#1f2937)}.multiselect-option.is-selected{background:var(--ms-option-bg-selected,#10b981);color:var(--ms-option-color-selected,#fff)}.multiselect-option.is-disabled{background:var(--ms-option-bg-disabled,#fff);color:var(--ms-option-color-disabled,#d1d5db);cursor:not-allowed}.multiselect-option.is-selected.is-pointed{background:var(--ms-option-bg-selected-pointed,#26c08e);color:var(--ms-option-color-selected-pointed,#fff)}.multiselect-option.is-selected.is-disabled{background:var(--ms-option-bg-selected-disabled,#87dcc0);color:var(--ms-option-color-selected-disabled,#d1fae5)}.multiselect-no-options,.multiselect-no-results{padding:var(--ms-option-py,.5rem) var(--ms-option-px,.75rem);color:var(--ms-empty-color,#4b5563)}.multiselect-fake-input{background:transparent;position:absolute;left:0;right:0;bottom:-1px;width:100%;height:1px;border:0;padding:0;font-size:0;outline:none}.multiselect-fake-input:active,.multiselect-fake-input:focus{outline:none}.multiselect-spacer{display:none}@-webkit-keyframes multiselect-spin{0%{transform:rotate(0)}to{transform:rotate(1turn)}}@keyframes multiselect-spin{0%{transform:rotate(0)}to{transform:rotate(1turn)}}@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto-Regular.ttf?f36638c2135b71e5a623dca52b611173);
}

@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto-Italic.ttf?465d1affcd03e9c6096f3313a47e0bf5);
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto-Medium.ttf?b2d307df606f23cb14e6483039e2b7fa);
  font-weight: 500;
}

@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto-MediumItalic.ttf?cabdb4a12e5de710afde298809306937);
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto-Bold.ttf?9ece5b48963bbc96309220952cda38aa);
  font-weight: bold;
}

@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto-BoldItalic.ttf?0be9fa8f2863998d1e52c84165976880);
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto-Black.ttf?301fe70f8f0f41c236317504ec05f820);
  font-weight: 900;
}

@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto-BlackItalic.ttf?c470ca2b5b4f4437a3fe71b113a289a2);
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto-Light.ttf?6090d256d88dcd7f0244eaa4a3eafbba);
  font-weight: lighter;
}

@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto-LightItalic.ttf?2ffc058ddedacfeaa23542026c8108e2);
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto-Thin.ttf?4f0b85f5b601a405bdc7b23aad6d2a47);
  font-weight: 100;
}

@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto-ThinItalic.ttf?7384da64612787e3662872e9d19cbc2d);
  font-weight: 100;
  font-style: italic;
}

html,
body {
  background-color: #fff;
  color: #636b6f;
  font-family: sans-serif;
  font-weight: 200;
  font-size: 16px;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.main-content {
  position: relative;
  width: 100%;
}

.bold-text {
  font-weight: bold;
}

.creature-options {
  position: relative;
  width: 60%;
  padding: 10px;
  display: grid;
  grid-template-columns: 150px 400px 150px 400px;
  grid-gap: 0 10px;
}

.stat-block-container {
  position: relative;
  width: 80%;
  padding: 20px 10%;
}

.title-size {
  font-size: 1.3em;
}

.i {
  font-style: italic;
}

.builder-controls {
  padding: 10px;
  border: 1px black solid;
  width: 200px;
  border-radius: 5px;
}

.builder-controls_player-characters {
  margin-top: 5px;
}

.popup-overlay {
  border: 1px black solid;
  border-radius: 7px;
  background-color: bisque;
  z-index: 1000;
  padding: 10px;
  margin: 4px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}

.cr-controller {
  position: relative;
  color: black;
  width: 300px;
  border: 1px black solid;
  border-radius: 7px;
  background-color: bisque;
  z-index: 1000;
  padding: 3px;
  margin: 4px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}

.slide-button {
  margin: 5px 0;
  width: 150px;
  position: relative;
  cursor: pointer;
  padding-left: 35px;
  transition: color 0.1s ease;
}

.slide-button label {
  margin-left: 35px;
}

.slide-button:before {
  display: block;
  position: absolute;
  content: "";
  left: 0;
  z-index: 1;
  top: 0.4rem;
  background-color: rgba(0, 0, 0, 0.05);
  width: 3.5rem;
  height: 0.2rem;
  border-radius: 250rem;
  transition: background 0.3s ease;
}

.slide-button:after {
  background: #fff linear-gradient(transparent, rgba(0, 0, 0, 0.05));
  position: absolute;
  content: "" !important;
  z-index: 2;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15), 0 0 0 1px rgba(34, 36, 38, 0.15) inset;
  width: 1.5rem;
  height: 1.5rem;
  top: -0.25rem;
  left: 0;
  border-radius: 250rem;
  transition: left 0.3s ease;
}

.slide-button.selected:before {
  background-color: #48e79d !important;
}

.slide-button.selected:after {
  left: 2rem;
}

.creature-options .option-label {
  font-weight: bold;
  color: black;
}

.creature-options .option {
  margin-bottom: 10px;
}

.creature-options .option.options-row {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.creature-options .option.options-row .option-box {
  border: 1px black solid;
  border-radius: 7px;
  padding: 4px;
  background: #5a5a5a;
  color: white;
  margin: 2px;
}

.add-feature {
  display: none;
  position: fixed;
  width: 50%;
  height: 60%;
  top: 50%;
  left: 50%;
  margin-top: -15%;
  /* Negative half of height. */
  margin-left: -25%;
  /* Negative half of width. */
  color: black;
}

.add-feature .feature-section {
  margin-top: 2%;
}

.add-feature .columns {
  display: flex;
  flex-direction: row;
}

.add-feature .columns .column {
  flex: 1;
}

.add-feature label {
  font-weight: bold;
}

.add-feature.show {
  display: block;
}

.add-feature .feature-text {
  margin-top: 2%;
  height: 25%;
}

.add-feature .feature-text textarea {
  height: 75%;
  width: 100%;
}

.add-feature .feature-specifics {
  padding-left: 15px;
}

.add-feature .add-feature-button {
  font-size: 1.3em;
}

.editable,
.stat-block .focus-edit .edit-field,
.stat-block .stat-block__add-feature-button,
.hidden-holder .edit-show {
  border: 1px black solid;
  border-radius: 8px;
  background-color: white;
}

.hidden-holder .edit-show {
  display: none;
}

.multiselect-tag {
  border-radius: 10px;
  background-color: green;
}

.indent-margin,
.stat-block .option.edit-field {
  margin-left: 4px;
}

.x,
.stat-block .stat-block__feature .feature__option-multiattack .feature__multiattack__featureRef .feature__multiattack__remove,
.stat-block .stat-block__feature .feature__edit-spell .feature__spells__remove,
.stat-block .stat-block__feature .feature__spell-slots .feature__spells__remove,
.stat-block .stat-block__feature .feature__damage .feature__remove-damage,
.stat-block .stat-block__feature .feature__remove,
.statblock__remove {
  border: 1px black solid;
  background-color: white;
  right: 0;
  top: 0;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  padding: 0px 6px 2px 5px;
  border-radius: 17px;
  transform: translate(50%, -50%);
  cursor: pointer;
}

i {
  font-style: italic;
}

.three-flex-columns {
  display: flex;
  flex-wrap: wrap;
}

.three-flex-columns div {
  width: 33%;
}

.statblock__remove {
  right: 10%;
  top: 20px;
}

.stat-block {
  position: relative;
  width: 100%;
  min-width: 450px;
  min-height: 200px;
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 15px;
  padding: 7px;
  box-sizing: border-box;
  color: #822000;
  border: 1px solid #d8d4d1;
  box-shadow: 0 0 5px #a5a6ad;
  background: url("/images/statblock/top.png"), url("/images/statblock/bg.png");
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat, repeat;
}

.stat-block textarea {
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: normal;
}

.stat-block.column-1 {
  -moz-column-count: 1;
       column-count: 1;
  max-width: 450px;
}

.stat-block.column-2 {
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-width: 50%;
       column-width: 50%;
}

.stat-block.column-3 {
  -moz-column-count: 3;
       column-count: 3;
  -moz-column-width: 33%;
       column-width: 33%;
}

.stat-block:before,
.stat-block:after {
  content: "";
  display: block;
  background: url("/images/statblock/border.png") center;
  background-size: 100% 100%;
  height: 6px;
  position: absolute;
  left: -3px;
  right: -3px;
}

.stat-block:before {
  top: -3px;
}

.stat-block:after {
  bottom: -3px;
}

.stat-block .title {
  margin-right: 2px;
}

.stat-block .option.edit-field {
  font-style: normal;
  font-weight: bold;
  color: black;
  padding: 2px;
}

.stat-block .stat-block__title {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: -3px;
}

.stat-block .stat-block__title input {
  font-weight: bold;
  font-size: 1em;
  color: #822000;
}

.stat-block .stat-block__title label.proper-noun {
  font-weight: normal;
  font-size: 0.5em;
  color: black;
  border: none;
  background-color: unset;
}

.stat-block .stat-block__subtitle .header {
  font-size: 1.2em;
  text-transform: uppercase;
  border-bottom: 1px solid #822000;
  width: 100%;
  margin: 20px 0 12px 0;
  padding-bottom: 5px;
}

.stat-block .stat-block__subtitle .header::first-letter {
  font-size: 1.3em;
}

.stat-block .stat-block__size-alignment {
  color: black;
  font-style: italic;
  font-size: 0.9em;
}

.stat-block .stat-block__ability-scores {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: left;
}

.stat-block .stat-block__ability-scores .stat-block__ability {
  flex: 1 1 0px;
  text-align: center;
}

.stat-block .stat-block__ability-scores .stat-block__ability .stat-block__ability-name {
  font-weight: bold;
}

.stat-block .stat-block__attributes .stat-block__attribute.edit-show {
  padding: 0 4px;
}

.stat-block .stat-block__attributes .stat-block__attribute .title {
  font-weight: bold;
}

.stat-block .stat-block__attributes .hoverElements {
  display: none;
}

.stat-block .stat-block__attributes:hover .hoverElements {
  display: unset;
}

.stat-block .stat-block__line-break {
  background-image: url("/images/statblock/separator-bar.svg");
  padding-bottom: 0.7%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 11px 0;
}

.stat-block .stat-block__add-feature-button {
  display: none;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
}

.stat-block .stat-block__add-feature-button:hover {
  background-color: #7e7a6338;
  border-radius: 8px;
}

.stat-block .stat-block__feature {
  color: black;
  margin-bottom: 12px;
}

.stat-block .stat-block__feature .feature__display {
  position: relative;
}

.stat-block .stat-block__feature .feature__title {
  font-weight: bold;
  font-style: italic;
}

.stat-block .stat-block__feature .feature__description {
  width: 98%;
  resize: none;
}

.stat-block .stat-block__feature .feature__remove {
  display: none;
}

.stat-block .stat-block__feature .feature__options {
  margin-left: 5px;
}

.stat-block .stat-block__feature .feature__damage {
  position: relative;
  border: 1px black solid;
  background-color: #f3efdd;
  border-radius: 8px;
  padding: 2px;
}

.stat-block .stat-block__feature .feature__spellGroup {
  margin: 2px 0;
}

.stat-block .stat-block__feature .feature__spellGroup__item {
  position: relative;
}

.stat-block .stat-block__feature .feature__spellGroup__item .feature__spellGroup__name {
  border: 2px black solid;
  border-radius: 7px;
  padding: 2px;
  background: powderblue;
}

.stat-block .stat-block__feature .feature__edit-spell,
.stat-block .stat-block__feature .feature__spell-slots {
  position: relative;
  border: 1px black solid;
  border-radius: 8px;
  padding: 2px;
}

.stat-block .stat-block__feature .feature__spell-slots {
  display: grid;
  grid-template-columns: repeat(3, 30%);
}

.stat-block .stat-block__feature .feature__spell-slots__group {
  margin-right: 2px;
}

.stat-block .stat-block__feature .feature__spells {
  padding: 2px;
}

.stat-block .stat-block__feature .feature__spell-list {
  text-transform: lowercase;
  font-style: italic;
}

.stat-block .stat-block__feature .feature__option-multiattack .feature__multiattack__featureRef {
  position: relative;
  border: 1px black solid;
  margin: 1px 0;
}

.stat-block .stat-block__feature .attack-border {
  border: 1px black solid;
  border-radius: 8px;
  padding: 2px;
}

.stat-block .stat-block__feature .edit-feature {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5%;
  max-width: 450px;
  background-color: #f8f1ce;
  z-index: 100;
  box-shadow: 0px 0px 40px #000, 0px 0px 40px #000;
}

.stat-block .stat-block__feature .edit-field {
  width: 98%;
  padding: 5px;
  -moz-column-break-inside: avoid;
       break-inside: avoid-column;
}

.stat-block .stat-block__feature .edit-field .title-label {
  font-weight: bold;
}

.stat-block .stat-block__feature:hover .feature__remove {
  display: block;
}

.stat-block .focus-edit .edit-field {
  display: none;
}

.stat-block.edit-mode .no-edit {
  cursor: not-allowed;
}

.stat-block.edit-mode .stat-block__add-feature-button {
  display: block;
  padding: 0 4px;
}

.stat-block.edit-mode .hidden-holder .edit-show {
  display: block !important;
}

.stat-block.edit-mode .focus-edit {
  cursor: pointer;
}

.stat-block.edit-mode .focus-edit:hover {
  background-color: #7e7a6338;
  border-radius: 8px;
}

.stat-block.edit-mode .focus-edit .edit-field .feature__description {
  border: 1px black solid;
  background-color: white;
  width: 97%;
}

.stat-block.edit-mode .focus-edit .edit-field .feature__description-textarea {
  width: 97%;
  border: 1px black solid;
}

.stat-block.edit-mode .focus-edit.focused {
  cursor: inherit;
  border: solid 3px black;
  padding: 2px;
  border-radius: 8px;
}

.stat-block.edit-mode .focus-edit.focused .edit-field {
  display: block;
}

.stat-block.edit-mode .focus-edit.focused .edit-field--flex {
  display: flex;
}

.stat-block.edit-mode .focus-edit.focused .edit-field--inlineBlock {
  display: inline-block;
}

.stat-block.edit-mode .focus-edit.focused .display-field {
  display: none;
}

