html,
body {
  background-color: #fff;
  color: #636b6f;
  font-family: sans-serif;
  font-weight: 200;
  font-size: 16px;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.main-content {
  position: relative;
  width: 100%;
}

.bold-text {
  font-weight: bold;
}

.creature-options {
  position: relative;
  width: 60%;
  padding: 10px;
  display: grid;
  grid-template-columns: 150px 400px 150px 400px;
  grid-gap: 0 10px;
}

.stat-block-container {
  position: relative;
  width: 80%;
  padding: 20px 10%;
}

.title-size {
  font-size: 1.3em;
}

.i {
  font-style: italic;
}

.popup-overlay {
  border: 1px black solid;
  border-radius: 7px;
  background-color: bisque;
  z-index: 1000;
  padding: 10px;
  margin: 4px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}

.cr-controller {
  position: relative;
  color: black;
  width: 300px;
  border: 1px black solid;
  border-radius: 7px;
  background-color: bisque;
  z-index: 1000;
  padding: 3px;
  margin: 4px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}

.slide-button {
  position: relative;
  cursor: pointer;
  padding-left: 35px;
  transition: color 0.1s ease;
}

.slide-button label {
  margin-left: 35px;
}

.slide-button:before {
  display: block;
  position: absolute;
  content: "";
  left: 0;
  z-index: 1;
  top: 0.4rem;
  background-color: rgba(0, 0, 0, 0.05);
  width: 3.5rem;
  height: 0.2rem;
  border-radius: 250rem;
  transition: background 0.3s ease;
}

.slide-button:after {
  background: #fff linear-gradient(transparent, rgba(0, 0, 0, 0.05));
  position: absolute;
  content: "" !important;
  z-index: 2;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15), 0 0 0 1px rgba(34, 36, 38, 0.15) inset;
  width: 1.5rem;
  height: 1.5rem;
  top: -0.25rem;
  left: 0;
  border-radius: 250rem;
  transition: left 0.3s ease;
}

.slide-button.selected:before {
  background-color: #48e79d !important;
}

.slide-button.selected:after {
  left: 2rem;
}

.creature-options .option-label {
  font-weight: bold;
  color: black;
}

.creature-options .option {
  margin-bottom: 10px;
}

.creature-options .option.options-row {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.creature-options .option.options-row .option-box {
  border: 1px black solid;
  border-radius: 7px;
  padding: 4px;
  background: #5a5a5a;
  color: white;
  margin: 2px;
}

.add-feature {
  display: none;
  position: fixed;
  width: 50%;
  height: 60%;
  top: 50%;
  left: 50%;
  margin-top: -15%;
  /* Negative half of height. */
  margin-left: -25%;
  /* Negative half of width. */
  color: black;
}

.add-feature .feature-section {
  margin-top: 2%;
}

.add-feature .columns {
  display: flex;
  flex-direction: row;
}

.add-feature .columns .column {
  flex: 1;
}

.add-feature label {
  font-weight: bold;
}

.add-feature.show {
  display: block;
}

.add-feature .feature-text {
  margin-top: 2%;
  height: 25%;
}

.add-feature .feature-text textarea {
  height: 75%;
  width: 100%;
}

.add-feature .feature-specifics {
  padding-left: 15px;
}

.add-feature .add-feature-button {
  font-size: 1.3em;
}

.editable,
.stat-block .focus-edit .edit-field,
.stat-block .stat-block__add-feature-button,
.hidden-holder .edit-show {
  border: 1px black solid;
  border-radius: 8px;
  background-color: white;
}

.hidden-holder .edit-show {
  display: none;
}

.multiselect-tag {
  border-radius: 10px;
  background-color: green;
}

.indent-margin,
.stat-block .option.edit-field {
  margin-left: 4px;
}

.x,
.stat-block .stat-block__feature .feature__spellGroup__item .feature__spells__remove,
.stat-block .stat-block__feature .feature__damage .feature__remove-damage,
.stat-block .stat-block__feature .feature__remove {
  border: 1px black solid;
  background-color: white;
  right: 0;
  top: 0;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  padding: 0px 6px 2px 5px;
  border-radius: 17px;
  transform: translate(50%, -50%);
  cursor: pointer;
}

i {
  font-style: italic;
}

.three-flex-columns {
  display: flex;
  flex-wrap: wrap;
}

.three-flex-columns div {
  width: 33%;
}

.stat-block {
  position: relative;
  width: 100%;
  min-width: 450px;
  min-height: 200px;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: normal;
  padding: 7px;
  box-sizing: border-box;
  color: #822000;
  border: 1px solid #d8d4d1;
  box-shadow: 0 0 5px #a5a6ad;
  background: url("/images/statblock/top.png"), url("/images/statblock/bg.png");
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat, repeat;
}

.stat-block textarea {
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: normal;
}

.stat-block.column-1 {
  -moz-column-count: 1;
       column-count: 1;
  max-width: 450px;
}

.stat-block.column-2 {
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-width: 50%;
       column-width: 50%;
}

.stat-block.column-3 {
  -moz-column-count: 3;
       column-count: 3;
  -moz-column-width: 33%;
       column-width: 33%;
}

.stat-block:before,
.stat-block:after {
  content: "";
  display: block;
  background: url("/images/statblock/border.png") center;
  background-size: 100% 100%;
  height: 6px;
  position: absolute;
  left: -3px;
  right: -3px;
}

.stat-block:before {
  top: -3px;
}

.stat-block:after {
  bottom: -3px;
}

.stat-block .title {
  margin-right: 2px;
}

.stat-block .option.edit-field {
  font-style: normal;
  font-weight: bold;
  color: black;
  padding: 2px;
}

.stat-block .stat-block__title {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: -3px;
}

.stat-block .stat-block__title input {
  font-weight: bold;
  font-size: 1em;
  color: #822000;
}

.stat-block .stat-block__subtitle .header {
  font-size: 1.2em;
  text-transform: uppercase;
  border-bottom: 1px solid #822000;
  width: 100%;
  margin: 20px 0 12px 0;
  padding-bottom: 5px;
}

.stat-block .stat-block__subtitle .header::first-letter {
  font-size: 1.3em;
}

.stat-block .stat-block__section {
  -moz-column-break-inside: avoid;
       break-inside: avoid;
}

.stat-block .stat-block__size-alignment {
  color: black;
  font-style: italic;
  font-size: 0.9em;
}

.stat-block .stat-block__ability-scores {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: left;
}

.stat-block .stat-block__ability-scores .stat-block__ability {
  flex: 1 1 0px;
  text-align: center;
}

.stat-block .stat-block__ability-scores .stat-block__ability .stat-block__ability-name {
  font-weight: bold;
}

.stat-block .stat-block__attributes .stat-block__attribute.edit-show {
  padding: 0 4px;
}

.stat-block .stat-block__attributes .stat-block__attribute .title {
  font-weight: bold;
}

.stat-block .stat-block__attributes .hoverElements {
  display: none;
}

.stat-block .stat-block__attributes:hover .hoverElements {
  display: unset;
}

.stat-block .stat-block__line-break {
  background-image: url("/images/statblock/separator-bar.svg");
  padding-bottom: 0.7%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 11px 0;
}

.stat-block .stat-block__add-feature-button {
  display: none;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
}

.stat-block .stat-block__add-feature-button:hover {
  background-color: #7e7a6338;
  border-radius: 8px;
}

.stat-block .stat-block__feature {
  color: black;
  margin-bottom: 12px;
}

.stat-block .stat-block__feature .feature__display {
  position: relative;
}

.stat-block .stat-block__feature .feature__title {
  font-weight: bold;
  font-style: italic;
}

.stat-block .stat-block__feature .feature__description {
  width: 98%;
  resize: none;
}

.stat-block .stat-block__feature .feature__remove {
  display: none;
}

.stat-block .stat-block__feature .feature__options {
  margin-left: 5px;
}

.stat-block .stat-block__feature .feature__damage {
  position: relative;
  border: 1px black solid;
  background-color: #f3efdd;
  border-radius: 8px;
  padding: 2px;
}

.stat-block .stat-block__feature .feature__spellGroup {
  margin: 2px 0;
}

.stat-block .stat-block__feature .feature__spellGroup__item {
  position: relative;
}

.stat-block .stat-block__feature .feature__spellGroup__item .feature__spellGroup__name {
  border: 2px black solid;
  border-radius: 7px;
  padding: 2px;
  background: powderblue;
}

.stat-block .stat-block__feature .feature__add-spell,
.stat-block .stat-block__feature .feature__spell-slots {
  border: 1px black solid;
  border-radius: 8px;
  padding: 2px;
}

.stat-block .stat-block__feature .feature__spell-slots {
  display: grid;
  grid-template-columns: repeat(3, 30%);
}

.stat-block .stat-block__feature .feature__spell-slots__group {
  margin-right: 2px;
}

.stat-block .stat-block__feature .feature__spells {
  padding: 2px;
}

.stat-block .stat-block__feature .feature__spell-list {
  text-transform: lowercase;
  font-style: italic;
}

.stat-block .stat-block__feature .attack-border {
  border: 1px black solid;
  border-radius: 8px;
  padding: 2px;
}

.stat-block .stat-block__feature .edit-feature {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5%;
  max-width: 450px;
  background-color: #f8f1ce;
  z-index: 100;
  box-shadow: 0px 0px 40px #000, 0px 0px 40px #000;
}

.stat-block .stat-block__feature .edit-field {
  width: 98%;
  padding: 5px;
  -moz-column-break-inside: avoid;
       break-inside: avoid-column;
}

.stat-block .stat-block__feature .edit-field .title-label {
  font-weight: bold;
}

.stat-block .stat-block__feature:hover .feature__remove {
  display: block;
}

.stat-block .focus-edit .edit-field {
  display: none;
}

.stat-block.edit-mode .no-edit {
  cursor: not-allowed;
}

.stat-block.edit-mode .stat-block__add-feature-button {
  display: block;
  padding: 0 4px;
}

.stat-block.edit-mode .hidden-holder .edit-show {
  display: block !important;
}

.stat-block.edit-mode .focus-edit {
  cursor: pointer;
}

.stat-block.edit-mode .focus-edit:hover {
  background-color: #7e7a6338;
  border-radius: 8px;
}

.stat-block.edit-mode .focus-edit .edit-field .feature__description {
  border: 1px black solid;
  background-color: white;
  width: 97%;
}

.stat-block.edit-mode .focus-edit .edit-field .feature__description-textarea {
  width: 97%;
  border: 1px black solid;
}

.stat-block.edit-mode .focus-edit.focused {
  cursor: inherit;
  border: solid 3px black;
  padding: 2px;
  border-radius: 8px;
}

.stat-block.edit-mode .focus-edit.focused .edit-field {
  display: block;
}

.stat-block.edit-mode .focus-edit.focused .edit-field--flex {
  display: flex;
}

.stat-block.edit-mode .focus-edit.focused .display-field {
  display: none;
}

