<div class="statblock-wizard popup-overlay">
    
    <div class="wizard-page wizard-page__target-cr" :class="{'wizard-page__active': activePage==='target-cr'}">
        <div>
            What challenge rating do your monster to be?
            <select v-model="targetCR">
                <option v-for="(crData, key) in $parent.sortedCRList" :value="crData.cr" >{{crData.cr_text}}</option>
            </select>
            <button @click="setCR">Set CR</button>
        </div>

        <div>
            <button @click="crHelp">Let's figure it out</button>
        </div>
    </div>

    <div class="wizard-page wizard-page__cr-help" :class="{'wizard-page__active': activePage==='cr-help'}">
        <div>
            How many player characters are there?
            <input type="number" v-model="playerCount" min="1" max="15" />
        </div>

        <div>
            What level are the player characters?
            <input type="number" v-model="playerLevel" min="1" max="20" />
        </div>

        <div>
            How many of this monster do you want to have?
            <input type="number" v-model="monsterCount" min="1" max="20" />
        </div>

        <div>
            What level of difficulty do you want the encounter to be?
            <select v-model="encounterDifficulty">
                <option v-for="(difficulty, key) in f5.encounterdifficulties" :value="key" >{{difficulty.name}}</option>
            </select>
        </div>

        <div>
            <button @click="setCR">Set CR</button>
        </div>
    </div>

    <div class="wizard-page wizard-page__choose-type" :class="{'wizard-page__active': activePage==='choose-type'}">
        
        <div>
            What type of creature do you want to create?
        </div>
        
        <div v-for="(type, key) in f5.creaturetypes">
            <input type="radio" name="creature-type" :value="key" v-model="creatureType" />
            <strong>{{ type.name }}</strong>: {{ type.desc }}
        </div>

        <div>
            <button @click="setCreatureType">Set Creature Type</button>
        </div>
    </div>

</div>