<div class="statblock-wizard popup-overlay">
    
    <div class="wizard-page wizard-page__target-cr flexrow" :class="{'wizard-page__active': activePage==='target-cr'}">
        <div class="wizard-header">Challenge Rating Selector</div>

        <div>
            <div>
                What challenge rating do your monster to be?
                <select v-model="targetCR">
                    <option v-for="(crData, key) in $parent.sortedCRList" :value="crData.cr_text" >{{crData.cr_text}}</option>
                </select>
                <div class="small-text">Unsure? Use the <span class="fake-link" @click="crHelp">CR Calculator</span></div>
            </div>

            <br/>

            <div>
                <span><strong>{{targetCRDesc}}</strong></span>
                <ul>
                    <li><strong>{{f5.misc.wizard_cr_proficiency}}</strong> +{{targetCRData.prof}}</li>
                    <li><strong>{{f5.misc.wizard_cr_attack_bonus}}</strong> ~{{targetCRData.attack_bonus}}</li>
                    <li><strong>{{f5.misc.wizard_cr_hit_points}}</strong> {{targetCRData.hp.low}} - {{targetCRData.hp.high}}</li>
                    <li><strong>{{f5.misc.wizard_cr_ac}}</strong> ~{{targetCRData.ac}}</li>
                    <li><strong>{{f5.misc.wizard_cr_examples}}</strong> {{targetCRData.examples}}</li>
                </ul>
            </div>

            <div class="btnContainer">
                <button @click="setCR()">Set CR</button>
            </div>
        </div>
    </div>
    
<!-- -->

    <div class="wizard-page wizard-page__cr-help" :class="{'wizard-page__active': activePage==='cr-help'}">
        <div class="wizard-header">Challenge Rating Calculator</div>
        
        <div>
            How many player characters are there?
            <input type="number" v-model="playerCount" min="1" max="15" />
        </div>

        <div>
            What level are the player characters?
            <input type="number" v-model="playerLevel" min="1" max="20" />
        </div>

        <div>
            How many of this monster do you want to have?
            <input type="number" v-model="monsterCount" min="1" max="20" />
        </div>

        <div>
            What level of difficulty do you want the encounter to be?
            <select v-model="encounterDifficulty">
                <option v-for="(difficulty, key) in f5.encounterdifficulties" :value="key" >{{difficulty.name}}</option>
            </select>
        </div>

        <br/>

        <div>
            <span><strong>Recommended CR: {{ recommendedCR }}</strong></span>
            <ul>
                <li><strong>{{f5.misc.wizard_cr_proficiency}}</strong> +{{targetCRData.prof}}</li>
                <li><strong>{{f5.misc.wizard_cr_attack_bonus}}</strong> ~{{targetCRData.attack_bonus}}</li>
                <li><strong>{{f5.misc.wizard_cr_hit_points}}</strong> {{targetCRData.hp.low}} - {{targetCRData.hp.high}}</li>
                <li><strong>{{f5.misc.wizard_cr_ac}}</strong> ~{{targetCRData.ac}}</li>
                <li><strong>{{f5.misc.wizard_cr_examples}}</strong> {{targetCRData.examples}}</li>
            </ul>
        </div>

        <div class="btnContainer">
            <button @click="setCR()">Set CR</button>
        </div>

        <button class="wizard-back" @click="setCR(false)"> < Back</button>
    </div>
    
<!-- -->

    <div class="wizard-page wizard-page__choose-type" :class="{'wizard-page__active': activePage==='choose-type'}">
        <div class="wizard-header">Creature Type</div>
        <div class="wizard-subheader">
            What type of creature do you want to create?
        </div>
        
        <div class="flex-rows section-container">
            <div class="creature-type-inner-container">
                <div><strong>Creature Type:</strong></div>
                <div v-for="(type, key) in f5.creaturetypes">
                    <input type="radio" name="creature-type" :id="'creature-type-'+key" :value="key" v-model="creatureType" />
                    <label :for="'creature-type-'+key"><strong>{{ type.name }}</strong></label>
                    <span class="info">🛈<div class="info-hover">{{ type.desc }}</div></span> 
                </div>
            </div>

            <div class="creature-type-inner-container subtypes">
                <div><strong>Creature Subtype:</strong></div>

                <Multiselect class="edit-field edit-field--flex"
                    :placeholder="f5.misc.choose_subtypes"
                    v-model="creatureSubtypes" 
                    :options="orderedSubtypes" 
                    mode="tags"
                    :close-on-select="false"
                    :searchable="true"
                    :create-option="true"
                >
                        <template v-slot:tag="{ option, handleTagRemove, disabled }">
                            <div class="multiselect-tag">
                                {{ option.label }}
                                <span v-if="!disabled" class="multiselect-tag-remove" @mousedown.prevent="handleTagRemove(option, $event)">
                                    <span class="multiselect-tag-remove-icon"></span>
                                </span>
                            </div>
                        </template>

                        <template v-slot:option="{ option }">
                            {{ option.label }}
                        </template>
                </Multiselect>

                <br/>
                <br/>

                <div v-if="creatureSpecificsList.length || creatureSpecifics.length">
                    <div><strong>Creature Tags:</strong></div>
                        <Multiselect class="edit-field edit-field--flex"
                        :placeholder="f5.misc.choose_tags"
                        v-model="creatureSpecifics" 
                        :options="creatureSpecificsList" 
                        mode="tags"
                        :close-on-select="false"
                        :searchable="true"
                        :create-option="true"
                    >
                            <template v-slot:tag="{ option, handleTagRemove, disabled }">
                                <div class="multiselect-tag">
                                    {{ option.label }}
                                    <span v-if="!disabled" class="multiselect-tag-remove" @mousedown.prevent="handleTagRemove(option, $event)">
                                        <span class="multiselect-tag-remove-icon"></span>
                                    </span>
                                </div>
                            </template>

                            <template v-slot:option="{ option }">
                                {{ option.label }}
                            </template>
                    </Multiselect>
                </div>
            </div>
            <div class="creature-type-inner-container creature-tips">
                <div>
                    <strong>Recommendations:</strong>
                    <span class="info">🛈<div class="info-hover">These recommendations are based on common trends among the selected types, subtypes, and tags. These are meant to assist you in building your creature but are certainly not hard-and-fast rules. </div></span> 
                </div>
                <div v-for="(tips, i) in creatureTips">
                    <span class="creature-title">{{ f5.tags.translations.tag_traits.replace(':creature_type', i) }}</span>
                    <ul>
                        <li v-for="(tip, j) in tips" v-html="tip"></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="btnContainer">
            <button @click="setCreatureType()">Set Creature Type</button>
        </div>

        <button class="wizard-back" @click="setCR(false)"> < Back</button>
    </div>

<!-- -->

    <div class="wizard-page wizard-page__choose-stats" :class="{'wizard-page__active': activePage==='choose-stats'}">
        <div class="wizard-header">Ability Scores</div>
        <div class="wizard-subheader">
            What ability scores are most important to your creature?
        </div>

        <div class="section-container flex-rows ">
            <div class="ability-priority-container">
                <div class="ability-priority" v-for="(ability, i) in creatureAbilityScorePriority"> 
                    <div class="ability-priority__move-arrows">    
                        <div :class="i == 0 ? 'disabled' : ''" class="ability-priority__move-arrow ability-priority__move-up" @click="shiftAbilityPriorityUp(ability)">↑</div>
                        <div :class="i == creatureAbilityScorePriority.length-1 ? 'disabled' : ''" class="ability-priority__move-arrow ability-priority__move-down" @click="shiftAbilityPriorityDown(ability)">↓</div>
                    </div>   
                    <div class="ability-priority__display">
                        <div>
                            <strong>{{ f5.abilities[ability].name }}</strong> 
                            <span class="info">🛈<div class="info-hover">{{ f5.abilities[ability]['desc'] }}</div></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="creature-tips">
                <div>
                    <strong>Recommendations:</strong>
                    <span class="info">🛈<div class="info-hover">These recommendations are based on common trends among the selected types, subtypes, and tags. These are meant to assist you in building your creature but are certainly not hard-and-fast rules. </div></span> 
                </div>
                <div v-for="(tips, i) in getCreatureTips(['stats'])">
                    <span class="creature-title">{{ f5.tags.translations.tag_traits.replace(':creature_type', i) }}</span>
                    <ul>
                        <li v-for="(tip, j) in tips" v-html="tip"></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="btnContainer">
            <button @click="setCreatureStats">Set Stats</button>
        </div>

        <div class="btnContainer">
            <button @click="manualStats">Manually Select Stats</button>
        </div>

        <button class="wizard-back" @click="setCreatureType(false)"> < Back</button>
    </div>
    
<!-- -->

    <div class="wizard-page wizard-page__manual-stats" :class="{'wizard-page__active': activePage==='manual-stats'}">
        <div class="wizard-header">Select Ability Scores</div>
        <div class="wizard-subheader">
            Select ability score distribution.
            <br/>
            A common array of ability scores for a CR {{ targetCR }} creature is {{ abilityScoreDistributionByCR(targetCR) }}
        </div>

        <div class="section-container flex-rows ">
            <div class="ability-priority-container">
                <div class="ability-section flex-rows" v-for="(ability, key) in f5.abilities">
                    <div class="ability-title">
                        <strong class="ability-name">{{ ability.name }}</strong>
                        <span class="info">🛈<div class="info-hover">{{ability['desc']}}</div></span>
                    </div>
                    <select v-model="creatureAbilityScores[key]">
                        <option v-for="i in 30" :value="i">{{ i }} (<span v-if="(i-10)/2 > 0">+</span> {{ Math.floor((i-10)/2) }})</option>
                    </select>
                </div>
            </div>
            
            <div class="creature-tips">
                <div>
                    <strong>Recommendations:</strong>
                    <span class="info">🛈<div class="info-hover">These recommendations are based on common trends among the selected types, subtypes, and tags. These are meant to assist you in building your creature but are certainly not hard-and-fast rules. </div></span> 
                </div>
                <div v-for="(tips, i) in getCreatureTips(['stats'])">
                    <span class="creature-title">{{ f5.tags.translations.tag_traits.replace(':creature_type', i) }}</span>
                    <ul>
                        <li v-for="(tip, j) in tips" v-html="tip"></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="btnContainer">
            <button @click="setCreatureStats()">Set Stats</button>
        </div>

        <button class="wizard-back" @click="setCreatureStats(false)"> < Back</button>
    </div>


<!-- -->


    <div class="wizard-page wizard-page__armor-hp" :class="{'wizard-page__active': activePage==='armor-hp'}">
        <div class="wizard-header">Armor and HP</div>
        <div class="wizard-subheader">
            Select armor and hit points.
        </div>

        <div class="section-container flex-rows ">
            <div class="select-armor">
                <div class="option options__hitpoints edit-field">
                    <select id="options__armorclass" name="options__armorclass" v-model="value.armorClass.type">
                        <option v-for="(item, index) in f5.armor" :value="index" >{{generateArmorText(item, f5.misc.max)}}</option>
                    </select>
                    <div v-if="value.armorClass.type === 'custom'" >
                        {{f5.misc.title_armor_name}}: <input v-model='value.armorClass.name'/><br/>
                        <!--Disadvantage on Stealth: <input type="checkbox" v-model="value.armorClass.stealthDis">-->
                    </div>
                    <span v-if="allowAcSelector">
                        {{f5.misc.title_armor_class}}: <select name="options__armorclass_range" v-model="value.armorClass.manual">
                            <option v-for="(val, i) in getAcRange" :value="val" >{{val}}</option>
                        </select>
                    </span>
                    <span v-if="allowAcBonus">
                        {{f5.misc.title_magical_bonus}}: +<input type="number" min="0" max="10" name="options__armorclass_range" v-model="value.armorClass.bonus" />
                    </span>
                    <div>
                        {{f5.misc.title_shield}}: <input name="options__shield" v-model="value.armorClass.shield" type="checkbox" />
                        {{f5.misc.title_mage_armor}}: <input name="options__mage-armor" v-model="value.armorClass.mageArmor" type="checkbox" /> 
                    </div>       
                </div>
            </div>

            <div class="select-hp">
                
            </div>
            
            <div class="creature-tips">
                <div>
                    <strong>Recommendations:</strong>
                    <span class="info">🛈<div class="info-hover">These recommendations are based on common trends among the selected types, subtypes, and tags. These are meant to assist you in building your creature but are certainly not hard-and-fast rules. </div></span> 
                </div>
                <div v-for="(tips, i) in getCreatureTips(['armor', 'hp'])">
                    <span class="creature-title">{{ f5.tags.translations.tag_traits.replace(':creature_type', i) }}</span>
                    <ul>
                        <li v-for="(tip, j) in tips" v-html="tip"></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="btnContainer">
            <button @click="setCreatureArmorHP()">Set Armor and HP</button>
        </div>

        <button class="wizard-back" @click="setCreatureStats(false)"> < Back</button>
    </div>


<!-- -->

</div>